/*MAIN*/
table,
th,
td {
  border: 5px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.main-content {
  width: 900px;
  padding-bottom: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #393E46;
  border-radius: 20px;
  display: inline-grid;
  margin-bottom: 20px;
  align-content: left;
  justify-content: left;
}

.filterDiv {
  border: #222831 5px solid;
  border-radius: 10px;
  float: left;
  background-color: #222831;
  width: 200px;
  height: 150px;
  line-height: 200px;
  text-align: center;
  margin: 9px;
  display: none;
  transition: all 0.3s, background-position 1ms;
  
}

.filterDiv:hover {
  border: #B55400 5px solid;
  box-shadow: 8px 8px 8px rgba(231, 231, 231, 0.185);
  transform: scale(1.1);
}

.filterDiv img:hover {
  opacity: 0.1;
}


.show {
  display: block;
}

.content-categories {
  margin: 30px;
}

.content-categories li {
  margin-bottom: 10px;
  min-width: 100px;
  max-width: 100px;
  list-style-type: none;
  padding: 20px 10px 20px 10px;
  background-color: #222831;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.content-categories li:hover {
  background-color: #EEEEEE;
  color: #222831;
}

.content-animes {
  padding-bottom: 15px;
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.btn.active {
  background-color: #B55400;
}

/*RESPONSIVE*/

@media (max-width:900px) {
  .loader {
    background: url('../img/mobileloading.gif') 50% 50% no-repeat rgb(0, 0, 0, .8);
  }

  .main-content {
    width: auto;
    margin: 1%;
  }
}

@media (max-width:400px) {

  .main-content {
    background-color: #ffffff00;
    width: 100%;
  }

  .main-content * {
    margin: 0;
    padding: 0;
    width: 90%;
  }
}

/*KAWAI*/
.kawai .main-content {
  background-color: #47484A;
}

.kawai .content-categories li:hover {
  background-color: #EEEEEE;
}

.kawai .btn.active {
  background-color: #E0A39F;
}

.kawai .content-categories li {
  background-color: #988C80;
}

.kawai .filterDiv {
  border: #988C80 5px solid;
  background-color: #988C80;
}

.kawai .filterDiv:hover {
  border: #E0A39F 5px solid;
}