.footer {
    background-color: #393E46;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
    z-index: 0;
}

.footer-wave-path {
    fill: #222831;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 300px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #EEEEEE;
}

.footer-content-column ul li a {
    color: #EEEEEE;
    text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-title {
    color: #EEEEEE;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #EEEEEE;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #EEEEEE;
    color: #222831;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #B55400;
    border-radius: 21px;
    color: #EEEEEE;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #EEEEEE;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #EEEEEE;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #EEEEEE;
    text-decoration: none;
}


/*SOCIAL*/


.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-links a {
    color: #EEEEEE;
    text-decoration: none;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #B55400;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    color: #EEEEEE;
    transition: fill .2s;
}

.footer-social-link.instagram {
    left: 5px;
    top: 13px;
    font-size: 20px;
}


.footer-social-link.github {
    left: 56px;
    top: -4px;
    font-size: 38px;
}

.footer-social-link.vscodium {
    left: 122px;
    top: 13px;
    font-size: 20px;
}

.footer-social-link.twitter {
    left: 173px;
    top: 8px;
    font-size: 28px;
}

.footer-copyright {
    background-color: #B55400;
    color: #EEEEEE;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #EEEEEE;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #EEEEEE;
    text-decoration: none;
}

/*RESPONSIVE*/

@media (min-width:200px) and (max-width:479px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 950px;
        position: relative;
    }
    .footer-logo-link img {
        height: 100px;
    }
}

@media (min-width:480px) and (max-width:599px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 900px;
        position: relative;
    }
    .footer-logo-link img {
        height: 100px;
    }
}

@media (min-width:600px) and (max-width: 799px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
    .footer-logo-link img {
        margin-top: 40px;
        height: 120px;
    }
}
@media (min-width:800px) and (max-width: 900px) {
    
    .footer-logo-link img {
        margin-top: 50px;
        height: 150px;
    }
}


@media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 300px;
        position: relative;
    }

    .footer-wave-svg {
        height: 50px;
    }

    .footer-content-column {
        width: 24.99%;
    }
}
/*KAWAI*/
.kawai .footer-wave-path {
    fill: #E0A39F;
  }