* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a {

  text-decoration: none;

}

.navbar li {

  list-style: none;

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}