/*MAIN*/
@font-face {
  font-family: comicsanshate;
  src: url("./fonts/comicsanshate.TTF");
}

@font-face {
  font-family: SansSerifFLF;
  src: url("./fonts/SansSerifFLF.otf");
}

* {
  margin: 0%;
  padding: 0%;
  font-family: SansSerifFLF;
}

.searching {
  color: yellow;
}

#include-content {
  text-align: center;
}

.ad1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  top: 30%;
  width: 100px;
  height: 300px;
  position: fixed;
  left: 5%;
  background-image: url("../img/ads1.jpg");
  text-decoration: none;
  z-index: 9000;
}

.ad2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 100px;
  top: 30%;
  height: 300px;
  position: fixed;
  right: 5%;
  background-image: url("../img/ads2.jpg");
  text-decoration: none;
  z-index: 9000;
}

.cat,
.cutegirl,
.rainbow {
  display: none;
  z-index: 9999;
}

body {
  background-color: rgb(0, 0, 0);
  color: #eeeeee;
  font-size: 20px;
}

.background {
  background-color: #222831;
}

/*KAWAI*/
.kawai .ad1,
.kawai .ad2 {
  display: none;
}

.kawai .cat {
  display: block;
  position: fixed;
  top: 20%;
  right: -20%;
  width: 30%;
}

.kawai .cutegirl {
  display: block;
  position: fixed;
  bottom: -50px;
  left: -10%;
  width: 30%;
}

.kawai .rainbow:hover {
  display: none;
}

.kawai .rainbow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 30%;
  z-index: 9999;
}

/*RESPONSIVE*/
@media screen and (max-width: 1100px) {
  .loader {
    background: url("../img/mobileloading.gif") 50% 50% no-repeat rgb(0, 0, 0, 0.8);
  }

  .ad1,
  .ad2 {
    display: none;
  }
}

/*LOADER*/
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loading.gif") 50% 50% no-repeat rgb(0, 0, 0, 0.8);
}

/*HEADER*/
.main-header {
  margin-top: 0.5px;
  z-index: 999;
}

.theme {
  border-radius: 10px;
}

.logomobile {
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: 45%;
  width: 60px;
}

.dropdown {
  border-radius: 10px;
}

.dropdown a {
  text-decoration: none;
  color: #eeeeee;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #393e46;
  box-shadow: 0px 3px rgba(17, 17, 17, 0.5);
  border-radius: 0px 0px 20px 20px;
  margin-top: -5px;
}

.dropdown-menu a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.spacing {
  padding-top: 110px;
}

.main-nav {
  text-align: center;
  overflow: hidden;
  height: 90px;
}

.logoimg {
  width: 50px;
  height: 50px;
}

.main-nav li {
  display: inline-block;
  color: #eeeeee;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  border: none;
  outline: none;
}

.main-nav .menubtn,
.searchbtn {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  padding: 10px 30px 0px 0px;
  animation: openMenu 300ms ease-in-out;
  transform-origin: top center;
}

/*Animation Dropmenu*/
@keyframes openMenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.firstItem a {
  border-radius: 10px 10px 0px 0px;
}

.lastItem a {
  border-radius: 0px 0px 10px 10px;
}

.dropdown-menu li {
  float: none;
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.481);
}

.dropdown-menu li a {
  float: none;
  color: black;
  background-color: #eeeeee;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-menu li a:hover {
  background-color: #8f8f8f;
  color: black;
  transition: background-color 0.2s;
}

.main-nav .dropdown:hover,
.menubtn:hover,
.searchbtn:hover,
.theme:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #eeeeee;
  transition: background-color 0.2s;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*RESPONSIVE*/
@media screen and (max-width: 900px) {
  .main-nav .dropdown:hover,
  .menubtn:hover {
    border-radius: 20px;
  }

  .spacing {
    padding-top: 90px;
  }

  .sticky {
    margin-top: 0px;
  }

  .main-nav {
    height: 65px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .mobile {
    margin-top: 30px;
  }
  .logoimg {
    display: none;
  }

  .searchbtn-big {
    display: none;
    position: absolute;
  }

  .logomobile {
    display: block;
  }

  .main-nav li:not(:first-child),
  .dropdown {
    display: none;
  }

  .dropdown {
    max-width: 50%;
  }

  .dropdown-menu li {
    border-radius: 10px;
    margin: 5px;
  }

  .main-nav li.menubtn {
    margin: 1%;
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .searchbtn {
    display: block;
    border-radius: 20px;
    float: left;
    right: 0;
    margin: 1%;
    top: 0;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #ffffff00;
    color: #eeeeee;
    z-index: 9999;
  }

  .main-nav.responsive {
    position: relative;
    height: auto;
  }

  .main-nav.responsive .logomobile {
    display: none;
  }

  .main-nav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .main-nav.responsive .dropdown {
    float: none;
  }

  .main-nav.responsive .dropdown-menu {
    position: relative;
  }

  .main-nav.responsive .dropdown {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Kawai*/
.kawai * {
  font-family: comicsanshate;
}

.kawai .sticky {
  background-color: #47484a;
}

.kawai .background {
  background-color: #988c80;
}

.kawai .body {
  color: #f9ebe1;
}

/*FOOTER*/
.footer {
  background-color: #393e46;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  top: -1px;
  width: 100%;
  z-index: 0;
}

.footer-wave-path {
  fill: #222831;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 300px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #eeeeee;
}

.footer-content-column ul li a {
  color: #eeeeee;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-title {
  color: #eeeeee;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #eeeeee;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #eeeeee;
  color: #222831;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #b55400;
  border-radius: 21px;
  color: #eeeeee;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #eeeeee;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #eeeeee;
  text-decoration: none;
}

/*Social networks*/
.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-links a {
  color: #eeeeee;
  text-decoration: none;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #b55400;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  color: #eeeeee;
  transition: fill 0.2s;
}

.footer-social-link.instagram {
  left: 5px;
  top: 13px;
  font-size: 20px;
}

.footer-social-link.github {
  left: 56px;
  top: -4px;
  font-size: 38px;
}

.footer-social-link.vscodium {
  left: 122px;
  top: 13px;
  font-size: 20px;
}

.footer-social-link.twitter {
  left: 173px;
  top: 8px;
  font-size: 28px;
}

.footer-copyright {
  background-color: #b55400;
  color: #eeeeee;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #eeeeee;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #eeeeee;
  text-decoration: none;
}

/*RESPONSIVE*/
@media (min-width: 200px) and (max-width: 479px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 950px;
    position: relative;
  }

  .footer-logo-link img {
    height: 100px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 900px;
    position: relative;
  }

  .footer-logo-link img {
    height: 100px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }

  .footer-logo-link img {
    margin-top: 40px;
    height: 120px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .footer-logo-link img {
    margin-top: 50px;
    height: 150px;
  }
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 300px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

/*KAWAI*/
.kawai .footer-wave-path {
  fill: #988c80;
}

.kawai .footer {
  background-color: #47484a;
}

.kawai .footer-social-amoeba-path {
  fill: #e0a39f;
}

.kawai .footer-copyright {
  background-color: #e0a39f;
}

.kawai .footer-call-to-action-button {
  background-color: #e0a39f;
}

.kawai .footer-call-to-action-button:hover {
  background-color: #eeeeee;
  color: #222831;
}
