* {
    box-sizing: border-box;
    display: block;
}

language,
servercountry {
    display: none;
}

library {
    color: red;
}

animes {
    background-color: rgb(192, 192, 192);
    font-family: sans-serif;
    color: black;
    text-align: center;
}

anime:hover {
    background-color: 533483;
}

anime:before {
    background-color: rgb(187, 187, 187);
    content: "Anime: ";
    color: black;
}

quantity:before {
    content: "Cantidad: ";
}

category:before {
    content: "Género: ";
}

director:before {
    content: "Director: ";
}

episodes:before {
    content: "Episodios: ";
}

anime {
    background: 16213E;
    border: solid 2px black;
}

category {
    color: E94560;
}